DOCTYPE html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    nav
      a(href='/puppies/new') Create a new Puppy
    h1 This is the home page
    ul
      each pup in puppyList
        li= pup
    //-  a(href="/puppies/#{pup.id}")= pup.name
    //- a(href="/puppies/new") Add a Puppy
